.styles
  text-align: center
  margin-top: 40px
  padding: 10px
.styles .style-input
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 90px
  opacity: 0
.style-image
  width: 100%
  height: 90px
  margin: 10px
  display: inline-block
.styles-container
  width: 40%
  height: 90px
  margin: 10px
  position: relative
  display: inline-block
.icon-trash
  color: #D0021B
  position: absolute
  top: 15px
  right: -5px
.upload-styles
  position: relative
  width: 40%
  height: 90px
  padding: 10px
  margin-bottom: 25px
  border: 2px solid #ecedf1
  display: inline-block
  margin: 10px
.upload-styles-close
  display: none
.upload-styles::before
  content: ''
  position: absolute
  width: 3px
  height: 30px
  background-color: #ecedf1
  top: 50%
  left: 50%
  margin-left: -1.5px
  margin-top: -15px
  color: white
.upload-styles::after
  content: ''
  position: absolute
  width: 30px
  height: 3px
  background-color: #ecedf1
  top: 50%
  left: 50%
  margin-left: -15px
  margin-top: -1.5px
  color: white
.styles .upload-styles-text
  text-align: center
  padding-top: 20px
.styles .at-least
  text-align: center
  color: #c0c0c0
  padding-top: 10px
  padding-bottom: 10px
  font-size: 13px
.styles-percent
  width: 100%
  height: 90px
  background-color: rgba(151, 151, 151, 0.5)
  position: absolute
  top: 10px
  left: 10px
  line-height: 90px
  color: white
.styles-percent-close
  display: none
.project-img
  width 50px
  height auto
.project-image
  display inline-block


