.developer
  border 1px solid #ccc
  width 200px
  display inline-block
  cursor pointer
.developer-avatar
  width 40px
  height 40px
  border-radius 50%
  vertical-align middle
  padding 10px
  cursor pointer
.hide-developer
  display none
.developer-name
  display inline-block
