body
  margin 0
.topbar
  margin-left 200px
  background-color #262626
  color #838383
  padding 15px
.position
  display inline-block
.topbar .username
  display inline-block
  text-align right
  width 87%

