.project-detail
  padding 50px
.project-detail .basic-info
  margin-right 60%
  border-bottom 2px solid #ff9800
.project-detail .basic-input
  margin-left 10px
  border none
  border-bottom 1px solid #837e7e
  display inline-block
.basic-block
  margin-top 25px
