.side
  position fixed
  top 0
  left 0
  width 200px
  height 100%
  padding-top 30px
  background-color #333333
  color #fff
  text-align center
.side .side-title
  margin-top 30px
.logo
  width 30px
  height 30px
  border-radius 50%
.side-info
  font-size 20px
.side a
  color #fff
  text-decoration none
  display block
  padding 10px
.side p
  margin 0
