.login
  position fixed
  top 30%
  left 30%
  right 30%
  background-color #333333
  border-radius 15px
.login-form
  margin-top 50px
.login-user
  text-align center
  padding-top 15px
.login-input
  border-radius 5px
  border 1px solid #bbb
input:focus
  outline none
.login-btn
  background-color #333333
  color #fff
  border 1px solid #bbb
  border-radius 3px
  text-align right
  margin-right 30%
  margin-top 20px
  margin-bottom 65px
.login-bottom
  text-align right
